#movie_title {
	margin: 10px auto 5px auto;
	width: 80%;
}

#movie_title h1 {
	text-align: center;
}


#mainBar {
    width:80%;
    margin: 10px auto 0px auto;
}


.movie_content {
	width: 80%;
	margin: 10px auto 0px auto;
}

.movie_info {
	margin-left: 10px;
}

.movie {
	width: 100%;
}

.movie_img {
	float: left;
}

.container {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-bottom: 10px;
}

